####
# CocoaPods
Pods/
Podfile.lock

xcuserdata/

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/contents.xcworkspacedata

.DS_Store

